.divider {
  height: 1px;
  border: none;
  margin: 0;
  background: var(--border-gray-light);

  &.gray {
    background: var(--border-gray-light);
  }

  &.blue {
    background: var(--border-light);
  }

  &.vertical {
    width: 1px;
    height: auto;
  }
}
