:root {
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 0.8);
  --blue: rgba(0, 122, 255, 1);

  --text-gray: rgba(153, 153, 153, 1);
  --text-dark: rgba(51, 51, 51, 1);
  --text-black: rgba(26, 26, 26, 1);
  --text-blue: rgba(0, 122, 255, 1);

  --bg-main: rgba(255, 255, 255, 1);
  --bg-blue: rgba(237, 242, 255, 1);
  --bg-light-blue: rgba(237, 242, 255, 0.5);

  --border-gray-light: rgba(0, 0, 0, 0.15);
  --border-light: rgba(0, 122, 255, 0.1);
  --border-black: rgba(26, 26, 26, 1);

  --transition: all 0.3s ease;
  --border-radius-sm: 0.3rem;
  --border-radius: 0.6rem;
  --border-radius-lg: 1.2rem;
}
